    <%= form_for [@note] do |f| %>
      <div class="form-group">
        <%= f.text_field :title, class: 'form-control', rows: 1, placeholder: "Add a title!", maxlength: 50, id: 'textbox' %>
        <%= f.text_area :body, class: 'form-control', rows: 5, placeholder: "Add a description!", maxlength: 500, id: 'textbox' %>
      </div>
      <div class="form-group d-flex justify-content-end">
        <%= f.submit "Save", class: "btn btn-primary", id: "submitButton" %>
      </div>
    <% end %>

    <% if @note.errors.any? %>
      <%= @note.errors.full_messages.to_sentence%>
    <% end %>